<div class="container">
  <nav class="navbar fixed-bottom bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-center navbar">
      <a
        class="bi bi-facebook mx-3"
        href="https://www.facebook.com/"
        target="_blank"
      ></a>
      <a
        class="bi bi-pinterest mx-3"
        href="https://www.pinterest.com/"
        target="_blank"
      ></a>
      <a
        class="bi bi-instagram mx-3"
        href="https://www.instagram.com/"
        target="_blank"
      ></a>
      <a
        class="bi bi-whatsapp mx-3"
        href="https://www.whatsapp.com/"
        target="_blank"
      ></a>
    </div>
    <div class="container-fluid d-flex justify-content-center">
      <p>&#169; Copyright Carla Camera</p>
    </div>
  </nav>
</div>
