<div class="myContainer">
    <div class="content">
    <h2>About me</h2>
    <div class="firstSection" id="s1">
        <img id="pic1" src="./assets/about_images/about_img1.jpg" alt="test">
        <div class="firstText" id="t1">
            <h3>Hi, I am Carla</h3>
            <p>born in the early ‘90s. I am a minimalist and find pleasure in discomfort.</p>
            <p>I prefer doing things, instead of talking about them. </p>
            <p>I discovered photography while backpacking around the world and since then it has become a big part of my life.</p>
            <p>I quickly discovered that I was specifically drawn to photographing people and set a goal to open my own 
               portrait studio and in 2018 it has become a reality.</p>
        </div>
    </div>
    <div class="secondSection" id="s2">
        <div class="secondText" id="t2">
            <h3>Education & Inspiration</h3>
            <p>Lindsay Adler - one of New York's top fashion, portrait and nude photographers</p> 
            <p>Serge Ramelli - French city and landscape photographer</p>
            <p>KcKinnon - Canadian photographer and videographer</p>
        </div>
        <img id="pic2" src="./assets/about_images/about_img2.jpg" alt="">
    </div>
    <div class="thirdSection" id="s3">
        <img id="pic3" src="./assets/about_images/about_img4.jpg" alt="">
        <div id="t3" class="thirdText">
            <h3>Awards & Publications</h3>
            <p>Portrait of the month March 2020 - Award</p>
            <p>Top Service Provider 2021 by ProvenExpert</p>
            <p>Member of the AIBP</p>
            <p>Vienna International Photo Award 2022</p>
        </div>
    </div>
    </div>
</div>