* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(46, 46, 46) !important;
  border-bottom: 1px;

  .navbar-brand {
    font-size: x-large;
  }
  div {
    gap: 1.5%;
  }
  transition: width 2s, height 2s, transform 2s;
  a {
    font-size: larger;
    color: white;
    transition-duration: 500ms;
    transition: 1200ms;
  }
  .nav-link:hover {
    color: #cc005f;
    // transform: rotate(360deg);
    font-size: 25px;
  }
  button {
    color: grey !important;
  }
  .navbar-toggler {
    background-color: grey !important;
  }
}
