* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(46, 46, 46) !important;

  img {
    width: 70px;
    height: 60px;
  }

  .navbar-brand {
    font-size: xx-large;
    color: #cc005f;
    line-height: normal !important;
    font-family: "Dancing Script";
  }
  div {
    gap: 1.5%;
  }
  transition: width 2s, height 2s, transform 2s;
  a {
    font-size: larger;
    color: white;
    transition-duration: 300ms;
    transition: 300ms;
    line-height: 2;
  }
  .nav-link:hover {
    color: #cc005f;

    font-size: 23px;
  }
  button {
    color: grey !important;
  }
  .navbar-toggler {
    background-color: rgb(80, 80, 80) !important;
  }
}
.container-fluid {
  padding-right: 16px;
}
#navbarNav {
  justify-content: end;
}
