
body{

    background-color: rgb(46, 46,46);
height: 145vh;
// padding: 10px;
// position: absolute;
// width: 100%;
 }
 .contact{
    padding: 60px;

 }
 h2{
    // padding: 20px;
    color: #CC005F;
margin: 10px; 
text-align: center;
// margin-top: 60px;
// margin-bottom: 60px;
height: 5vh;
font-size: 3rem;
font-family:"Dancing Script", cursive;

 }

.container{
    // margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.test{
    display: flex;
    flex-direction: column;

}
.form-group{
    width: 100%;
    max-width: 650px;
    
    // background-color: rgba(0, 0, 0, 0.1);
     padding: 4px;
     margin: 10px;
     border-radius: 60px;


}


.contact-btn {
     text-decoration: none;
     background-color:#CC005F;
     color: white;
padding: 10px; 
width: 100%;   
margin: 50px; 
font-size: 1.1rem;
// padding: 0.5rem 1rem;
border-radius: 60px;
padding: 12px 22px;
}
.single-contact-btn{
    text-align: center;
    margin: 20px;
    margin-top: 20px;

}
.contact-me{

    padding: 100px;
    position:absolute;
width: 100% ;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-top: 100px;

}
h3{
    color: #CC005F;
    font-family: "Dancing Script", cursive;
}
h5{
    color: #CC005F;
    font-family: "Dancing Script", cursive;

}

p{
    color: gray;

}

// @media screen and (min-width:500px) {
//     .form-group{
//         width: 70%;
//     }
// }