<body>
  <div class="contact">
    <h2>Contact Us</h2>
  </div>

  <div class="container test">
    <div class="col-sm-6 col-xs-12">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Name*"
          name="name"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email*"
          name="email"
        />
      </div>
      <div class="form-group">
        <input
          type="phonenumber"
          class="form-control"
          id="number"
          placeholder="Phone Number*"
          name="number"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="occasion"
          placeholder="Occasion*"
          name="occasion"
        />
      </div>
      <!-- <div class="col-sm-12"> -->
      <div class="form-group">
        <textarea
          class="form-control"
          rows="4"
          id="comment"
          placeholder="Message*"
        ></textarea>
      </div>
      <div class="single-contact-btn">
        <a class="contact-btn" href="#" role="button">Submit</a>
      </div>
      <!-- </div> -->
    </div>
  </div>

  <!-- <div class="contact-me">
    <h3>Carla</h3>
    <p>professional photographer</p>

    <h5>Phone</h5>
    <p>0676 605 3456</p>

    <h5>Email</h5>
    <p>carla.photo@gmail.com</p>
  </div> -->

  <div class="row contact-info">
    <div class="col-four tab-full">
      <div class="icon">
        <i class="bi bi-geo-alt"></i>
      </div>
      <h5>Where to find me</h5>
      <p>Ballhausplatz, 1010 Vienna<br /></p>
    </div>
    <div class="col-four tab-full">
      <div class="icon">
        <i class="bi bi-envelope-at"></i>
      </div>
      <h5>Email Me At</h5>
      <p>carla.photo@gmail.com<br /></p>
    </div>
    <div class="col-four tab-full">
      <div class="icon">
        <i class="bi bi-telephone"></i>
      </div>
      <h5>Call Me At</h5>
      <p>Mobile: (+43)676 605 3456<br /></p>
    </div>
  </div>
</body>
