<body>
    <div class="body">
        <div class="content">
                <div class="panel activeClass" style="background-image: url('../../assets/img_reviews/pic1.jpg'); opacity: 0.8;">
                    <h3>Michael Anderson</h3>
                    <p>Exceptional eye for candid moments, creates vibrant portraits.</p>
                </div>
                <div class="panel" style="background-image: url('../../assets/img_reviews/pic2.jpg'); opacity: 0.8;">
                    <h3>John Smith</h3>
                    <p>Master of natural light, captures emotion effortlessly.</p>
                </div>
                <div class="panel" style="background-image: url('../../assets/img_reviews/pic3.jpg'); opacity: 0.8;">
                    <h3>Lia Martinez</h3>
                    <p>Unique style, adept at landscapes, and a true professional in every sense.</p>
                </div>
                <div class="panel" style="background-image: url('../../assets/img_reviews/pic4.jpg'); opacity: 0.8;">
                    <h3>Lina Brown</h3>
                    <p>Artistic vision shines through her work, an absolute pleasure to work with.</p>
                </div>
                <div class="panel" style="background-image: url('../../assets/img_reviews/pic5.jpg'); opacity: 0.8;">
                    <h3>Matt Collard</h3>
                    <p>Impeccable attention to detail, skilled in event photography.</p>
                </div>
                <div class="panel" style="background-image: url('../../assets/img_reviews/pic6.jpg'); opacity: 0.8;">
                    <h3>Wanda Kim</h3>
                    <p>Pleasure to work with, highly professional!</p>
                </div>
            </div>
        </div>
        <section>
            <div class="clients">
                <div class="odd">
                    <ul>
                        <li>logo</li>
                        <li>name</li>
                    </ul>
                </div>
                <div class="even">
                    <ul>
                        <li>logo</li>
                        <li>name</li>
                    </ul>
                </div>
                <div class="odd">
                    <ul>
                        <li>logo</li>
                        <li>name</li>
                    </ul>
                </div>
                <div class="even">
                    <ul>
                        <li>logo</li>
                        <li>name</li>
                    </ul>
                </div>
                <div class="odd">
                    <ul>
                        <li>logo</li>
                        <li>name</li>
                    </ul>
                </div>
            </div>
        </section>
<body>
