<body>
    <h2 class="cr">Client reviews</h2>
    <div class="body">
        <div class="content">
                <div class="panel activeClass" style="background-color: #f3accd;">
                    <img src="../../assets/img_reviews/portrait1.jpg" alt="portrait">
                    <h3>Mia Anderson</h3>
                    <p>"Exceptional eye for candid moments, creates vibrant portraits".</p>
                </div>
                <div class="panel" style="background-color: #fff;">
                    <img src="../../assets/img_reviews/portrait1.jpg" alt="portrait">
                    <h3>John Smith</h3>
                    <p>"Master of natural light, captures emotion effortlessly".</p>
                </div>
                <div class="panel" style="background-color: #f3accd;;">
                    <img src="../../assets/img_reviews/portrait1.jpg" alt="portrait">
                    <h3>Lia Martinez</h3>
                    <p>"Unique style, adept at landscapes, and a true professional in every sense".</p>
                </div>
                <div class="panel" style="background-color: #fff;">
                    <img src="../../assets/img_reviews/portrait1.jpg" alt="portrait">
                    <h3>Lina Brown</h3>
                    <p>"Artistic vision shines through her work, an absolute pleasure to work with".</p>
                </div>
                <div class="panel" style="background-color: #f3accd;;">
                    <img src="../../assets/img_reviews/portrait1.jpg" alt="portrait">
                    <h3>Matt Collard</h3>
                    <p>"Impeccable attention to detail, skilled in event photography".</p>
                </div>
                <div class="panel" style="background-color: #fff;">
                    <img src="../../assets/img_reviews/portrait1.jpg" alt="portrait">
                    <h3>Wanda Kim</h3>
                    <p>"Pleasure to work with, highly professional!"</p>
                </div>
            </div>
        </div>
        <section>
            <h2>Clients</h2>
            <div class="clients">
                <div class="1">
                    <ul>
                        <li><img width="50" height="50" src="https://img.icons8.com/ios/50/dynamics-365.png" alt="dynamics-365"/></li>
                        <li>SnapCraft Studios</li>
                    </ul>
                </div>
                <div class="2">
                    <ul>
                        <li><img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/logo.png" alt="logo"/></li>
                        <li>FramePerfect Enterprises</li>
                    </ul>
                </div>
                <div class="3">
                    <ul>
                        <li><img width="50" height="50" src="https://img.icons8.com/ios/50/canvas-student--v1.png" alt="canvas-student--v1"/></li>
                        <li>Proxima Ventures</li>
                    </ul>
                </div>
                <div class="4">
                    <ul>
                        <li><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/krita.png" alt="krita"/></li>
                        <li>LensMasters Co.</li>
                    </ul>
                </div>
                <div class="5">
                    <ul>
                        <li><img width="50" height="50" src="https://img.icons8.com/ios/50/swiftui.png" alt="swiftui"/></li>
                        <li>Quantum Dynamics</li>
                    </ul>
                </div>
            </div>
        </section>
<body>
