<!-- Intro Section ================================================== -->

<section id="intro">
    <div class="intro-overlay"></div>
    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">
                <h5>Capture Life with</h5>
                <h1>Carla Camera</h1>
                <p class="intro-position">
                    <span>Your Professional Photographer</span>
                </p>
                <a class="button stroke smoothscroll" href="about" title="Learn More">More About Me</a>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Section ================================================== -->        

<section id="portfolio">

    <div class="row section-intro">
       <div class="col-twelve">

           <h5>Portfolio</h5>
           <h1>Check Out Some of My Works</h1>

           <p class="lead">Our photos are a visual symphony, freezing unique moments with a distinct perspective. Whether vibrant or monochrome, each click tells a story and invites viewers into your soul.</p>

       </div>   		
   </div> <!-- /section-intro--> 
<body>
    <main>
        <section class="photo-grid">
            <div class="photo-item item1">
                <img src="../assets/images/portfolio/liberty.jpg" alt="liberty">
            </div>
            <div class="photo-item item2">
                <img src="../../assets/images/portfolio/shutterbug.jpg" alt="shutterbug">
            </div>
            <div class="photo-item item3">
                <img src="../../assets/images/portfolio/butterfly.jpg" alt="clouds">
            </div>
            <div class="photo-item item4">
                <img src="../../assets/images/portfolio/beetle.jpg" alt="beetle">
            </div>
            <div class="photo-item item5">
                <img src="../../assets/images/portfolio/lighthouse.jpg" alt="lighthouse">
            </div>
            <div class="photo-item item6">
                <img src="../../assets/images/portfolio/mountain.jpg" alt="salad">
            </div>
            <div class="photo-item item7">
                <img src="../../assets/images/portfolio/woman.jpg" alt="woman">
            </div>
        </section>
    </main>
</body>

<!-- Services Section ================================================== -->

<section id="services">

    <div class="overlay"></div>

    <div class="row section-intro">
       <div class="col-twelve">

           <h5>Services</h5>
           <h1>What Can I Do For You?</h1>

           <p class="lead">I'm your versatile assistant, ready to unravel complex concepts, craft engaging content, or provide information. Need a creative brainstorm?</p>

       </div>   		
   </div> <!-- /section-intro -->
  
   <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/portfolio/portrait.jpg" class="d-block w-100 " alt="portrait">
        <div class="carousel-caption d-none d-md-block">
          <h5>Portrait Photography</h5>
          <p>Capture your essence in professional portraits—solo or group sessions, framing your story to reflect your true self.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/portfolio/nature.jpg" class="d-block w-100" alt="nature">
        <div class="carousel-caption d-none d-md-block">
          <h5>Nature and Landscape Photography</h5>
          <p>Dive into the world's beauty through my lens—breathtaking landscapes, intricate nature details, bringing the outdoors to life.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/portfolio/city.jpg" class="d-block w-100" alt="city">
        <div class="carousel-caption d-none d-md-block">
          <h5>Photo Editing</h5>
          <p>Elevate your photos with professional editing—color correction, retouching, ensuring perfection.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>